[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[dev-packages]
black = "*"
pylint = "*"
pylint-django = "*"
rope = "*"

[packages]
certifi = "~=2019.3"
Django = "~=2.2"
django-appconf = "~=1.0"
django-auth-ldap = "~=2.0"
django-autocomplete-light = "~=3.8"
django-compressor = "~=2.3"
django-crispy-forms = "~=1.7"
django-dbbackup = "~=3.2"
django-discover-runner = "~=1.0"
django-filter = "~=2.1"
django-localflavor = "~=2.2"
django-role-permissions = "~=2.2"
django-session-timeout = "~=0.0"
gunicorn = "~=19.9"
model-mommy = "~=1.6.0"
mysql-connector = "~=2.2"
mysqlclient = "~=1.4"
pyasn1 = "~=0.4"
pyasn1-modules = "~=0.2"
python-dateutil = "~=2.8"
python-ldap = "~=3.4"
python-stdnum = "~=1.11"
pytz = "~=2019.1"
rcssmin = "~=1.0"
rjsmin = "~=1.1"
sentry-sdk = "~=0.7"
six = "~=1.12"
sqlparse = "~=0.3"
urllib3 = "*"
XlsxWriter = "~=1.1"
django-mathfilters = "*"
