SENTRY_SERVER_NAME=MyServerHostname
SENTRY_DSN=https://asdf123123asdfasdfasdf123123@sentry.io/123123
DJANGO_ENVIRONMENT=productionOrDevelopment
DJANGO_SECRET_KEY=5oM3-N1c&_@nD-L0ng-h45h
AUTH_LDAP_SERVER_URI=ldap://ldapServerIpOrHostname
AUTH_LDAP_BIND_DN=cn=djangoLdapUserName,cn=Users,dc=myDomain,dc=local
AUTH_LDAP_BIND_PASSWORD=ldapUserPassword
AUTH_LDAP_USER_SEARCH_OU=cn=Users,dc=myDomain,dc=local
MYSQL_DATABASE=afincoDb
MYSQL_USER=afincoDbUser
MYSQL_PASSWORD=afincoDbUserPassword
MYSQL_ROOT_PASSWORD=afincoDbRootPassword
MYSQL_HOST=dockerDbContainerName
MYSQL_PORT=dockerDbContainerPort
REGISTER_HOST=escribaRegisterDbServerHostname
REGISTER_PORT=escribaRegisterDbPort
REGISTER_DB=escribaRegisterDb
REGISTER_USER=escribaRegisterDbUser
REGISTER_PASSWORD=escribaRegisterDbUserPassword