{% extends 'base.html' %}
{% load permission_tags %}
{% load crispy_forms_tags %}

{% block title %}::: AFINCO ::: Categorias - Editar{% endblock title %}

{% block content %}

    <h3>Categorias de Despesas</h3>
    <span class="text-muted">Alterar a categoria: {{ categoriadespesa }}</span>
    <br><br>

    <form method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                {{ form.identificacao|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4 col-md-4 col-lg-3">
                {{ form.codigo_rf|as_crispy_field }}
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
                {{ form.conta_credito|as_crispy_field }}
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
                {{ form.conta_debito|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                {{ form.ativo|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-5">
                {{ form.relatorios|as_crispy_field }}
            </div>
        </div>

        <br>

        <div class="form-row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <span class="text-muted float-right">
                    <a href="{% url 'categoria_despesa_detail' categoriadespesa.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
                    {% if user|has_role:'oficial,contador' %}
                    <input type="submit" class="btn btn-outline-success ml-2" value="Salvar">
                    {% endif %}
                </span>
            </div>
        </div>

        <br>

    </form>

    <br>

{% endblock content %}
