{% extends 'base.html' %}
{% load staticfiles %}
{% load permission_tags %}
{% load project_tags %}

{% block title %}::: AFINCO ::: Pagamentos - Lista{% endblock title %}

{% block content %}

    {% if user|has_role:'oficial,contador' %}
    <a href="{% url 'cliente_pagamentos_new' %}" rule="button" class="btn btn-outline-success float-right">+ Novo</a>
    {% endif %}

    <a href="#" data-toggle="collapse" rule="button" class="btn btn-sm btn-outline-info float-right mr-2" data-target="#filtrar" style="padding-bottom: .45rem;">
        <svg class="i-filtrar" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <circle cx="14" cy="14" r="12"></circle>
            <path d="M23 23 L30 30"></path>
        </svg>
    </a>

    {% if filter.form.cleaned_data %}
    <a class="mx-3 my-2 float-right small text-info" href="{% url 'cliente_pagamentos_list' %}">Limpar Filtros</a>
    {% endif %}

    <h3>Pagamentos de Clientes</h3>




    <div id="filtrar" class="collapse">
        <!-- busca //-->
        <div class="card">
            <div class="card-header">
                Filtrar Pagamentos
            </div>
            <form action="" method="get">
                <div class="card-body">


                    <div class="row">

                        <div class="form-group col-sm-12 col-md-6 col-lg-7 col-xl-8">
                            {{ filter.form.cn.label_tag }}
                            <div class="form-row">
                                {{ filter.form.cn }}
                            </div>
                            <small class="form-text text-muted">{{ filter.form.cn.help_text }}</small>
                        </div>

                        <div class="form-group col-md-6 col-lg-5 col-xl-4">
                            {{ filter.form.vb.label_tag }}
                            <div class="form-row">
                                {{ filter.form.vb }}
                            </div>
                            <small class="form-text text-muted">{{ filter.form.vb.help_text }}</small>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-6 col-lg-5 col-xl-4">
                            {{ filter.form.pg.label_tag }}
                            <div class="form-row">
                                {{ filter.form.pg }}
                            </div>
                            <small class="form-text text-muted">{{ filter.form.pg.help_text }}</small>
                        </div>

                        <div class="form-group col-md-6 col-lg-5 col-xl-4">
                            {{ filter.form.da.label_tag }}
                            <div class="form-row">
                                {{ filter.form.da }}
                            </div>
                            <small class="form-text text-muted">{{ filter.form.da.help_text }}</small>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button id="btn_busca" type="submit" class="btn btn-lg btn-primary btn-block">
                        Filtrar Pagamentos
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- fim busca //-->

    <br>

    {% if object_list %}

    <div class="table-responsive table-responsive-xl" id='table_list_content'>

        <table class="table table-hover table_link">
            <thead>
                <tr>
                    <th scope="col">Data Pagamento</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Forma Pagamento</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
            {% for cliente_pagamentos in object_list %}
                <tr data-href="{% url 'cliente_pagamentos_detail' cliente_pagamentos.pk %}">
                    <td>{{ cliente_pagamentos.data_pagamento|date:'d/m/Y'}}</td>
                    <td>{{ cliente_pagamentos.cliente|truncatechars:55 }}</td>
                    <td>{{ cliente_pagamentos.get_forma_pagamento_display }}</td>
                    <td class="text-nowrap"> R$ {{ cliente_pagamentos.valor|floatformat:2|intseparator }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>
    {% else %}
        <p class="text-muted">Não há pagamentos para serem exibidos.</p>
    {% endif %}

    <br><br>

    {% if is_paginated %}
        {% include "pagination.html" %}
    {% endif %}

{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/table_link.js' %}"></script>
{% endblock javascript %}