{% extends "base.html" %}
{% load permission_tags %}

{% block title %}::: AFINCO ::: Clientes - Remover{% endblock title %}

{% block content %}
    <h3>Clientes</h3>
    <span class="text-muted">Remover cliente: <b>{{ cliente.nome }}</b></span>
    <br /><br />
    <form method="post">
        {% csrf_token %}
        <p>Você tem certeza que deseja remover este cliente permanentemente?</p>
        <span class="text-muted float-right">
            <a href="{% url 'cliente_detail' cliente.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
            {% if user|has_role:'oficial,contador' %}
            <input type="submit" class="btn btn-outline-danger" value="Sim! Remover!">
            {% endif %}
        </span>
    </form>
    <br />
{% endblock content %}